{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "/style",
    "<THIRD_PARTY_MODULES>",
    ".*components.*",
    "^services/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ]
}
