APP_ENV=
APP_VERSION=
APP_NAME=
APP_URL=
APP_PORT=
APP_ENABLE_CORS=true
APP_THROTTLER_TTL_TIME=60
APP_THROTTLER_REQUEST_COUNT=10
JWT_TOKEN_SECRET=jwt-secret-key
JWT_TONE_EXPIRY_TIME=24h
ENABLE_SQL_SSL=
DATABASE_CONNECTION=